<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X_UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>member_login</title>
	<link rel="stylesheet" href="/comi/resources/css/member_login.css">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	
</head>

<body>
	
	<div class="wrapper">
		<form action="/comi/login" method="post">
			<h1>로그인</h1>
			<div class="input-box">
				<!-- <label>아이디 : <input type="text" name="meid" id="uid" class="pos"></label> -->
				<input type="text" placeholder="Username" name="meid" required>
				<i class='bx bxs-user'></i>
			</div>
			<div class="input-box">
				<!-- <label>암 호 : <input type="password" name="mepwd" id="upwd" class="pos"></label> -->
				<input type="password" placeholder="Password" name="mepwd" required>
				<i class='bx bxs-lock-alt'></i>
			</div>
			
			<div class="remember-forgot">
				<label><input type="checkbox">아이디 저장</label>
				<a href="#">비밀번호 찾기</a>
			</div>
			
			<input type="submit" class="btn" name="login" value="로그인">
			
			<!-- <button type="submit" class="btn" name="login">로그인</button> -->
			
			<div class="register-link">
				<p><a href="/comi/views/member/member_create.html">회원가입</a></p>
			</div>
		</form>
	</div>
</body>

</html>
